extends layout

block content
  .container
    .jumbotron
      .container 
        h1 This is Devops Exp 3.
        p Performing Experiment 3 of Devops.
        a.btn.btn-primaty.btn-lg(href="#") Show More &raquo;
