extends layout

block content
  .container
    .jumbotron
      .container 
        h1 how may i help you 
        p it is a sample text notting more .
        a.btn.btn-primaty.btn-lg(href="#") Show More &raquo;
